---
layout: default

bio:
  - Thanks for stopping by. I am a skilled content creator, storyteller and professional nudger, passionate about behavior change. I work with change-makers and impact-driven organizations to tell your unique stories that enable you to scale your impact.
  - I do this by creating meaningful multi-media content and impactful behavior change communications strategies that resonate with your target audiences and that boost your user engagement, increase your organization visibility and position you even more as a thought leader.
  - My purpose is to help you connect the dots, identify trends, set mindful health agendas and better communicate your goals to influence the behavior change that's needed.

services:
  - icon: hand-holding-heart
    title: "Creative communications"
    description: "Storytelling, Visual design, Creative content/messaging, Copywriting & editing (including web copy)."
  - icon: user
    title: "User research"
    description: "Audience mapping, Trend spotting, Empathic & observational research, Behavior change audits."
  - icon: cogs
    title: "Strategic design"
    description: "Project design, Communication & innovation strategy, Human-centered design, Campaign communications."

work:
  categories: [all, europe/uk, asia, usa]
  items:
    - category: europe/uk
      image: fairphone-featured.jpg
      imageDescription: ""
      title: "Fairphone"
      description: "Fairphone builds a deeper understanding between people and their products, driving conversations about what 'fair' really means. I support on-demand client copywriting and editing requests for a range of content driven pieces to help with product positioning and raising consumer awareness."
    - category: europe/uk
      image: Laws-of-Nature-logo.png
      imageDescription: ""
      title: "Laws of nature"
      description: "A brand new health and wellness start-up that focuses on using what nature provides in order to ensure our bodies receive the nutrients and minerals we need. I advise on the content direction of various communications and marketing materials."
    - category: europe/uk
      image: 17-Triggers.png
      imageDescription: ""
      title: "17 triggers"
      description: "17 triggers is a global behavior change agency headquartered in Phnom Penh, Cambodia with offices in Myanmar and Zambia. I was engaged to build presence across Europe and provide communications and marketing advice on strategies and projects. "
    - category: europe/uk
      image: Plasticsoup.png
      imageDescription: ""
      title: "Plastic Soup Foundation"
      description: "The Plastic Soup Foundation is a communicator par excellence: they promote solutions for the plastic problem and alternatives for plastic itself. My role has been to streamline website content to increase digital engagement as well as to advise on various communications activities."
    - category: europe/uk
      image: Greener-beans.jpg
      imageDescription: ""
      title: "Greener beans"
      description: "Greener Beans was started in the U.K. to make sustainable online shopping easy and rewarding. I was engaged to create a communication strategy and roll out plan."
    - category: europe/uk
      image: Find-mino.png
      imageDescription: ""
      title: "Find Mino"
      description: "Find Mino is a youth education and employment platform in the US. I led on targeted communications and content development to build digital brand presence and followers."
    - category: asia
      image: Smart-food.png
      imageDescription: ""
      title: "Smart Food"
      description: "Smart Food is one of the solutions that contributes to addressing some of the largest global issues in unison: poor diets (malnutrition to obesity); environmental issues (climate change, water scarcity etc); and rural poverty. I am advising on content creation and content strategy to help with boosting visibility and sector engagement. "
    - category: asia
      image: savethechildren.png
      imageDescription: ""
      title: "Save the Children"
      description: "USAID awarded Save the Children a five-year, $16.3 million integrated nutrition, sanitation, and hygiene project called NOURISH to address the complex, multi-faceted causes of chronic malnutrition in Cambodia. I was contracted by The Manoff Group to work on the social and behavior change communication (SBCC) team and lead behavior change initiatives in Cambodia."
    - category: asia
      image: ithinkasia.jpg
      imageDescription: ""
      title: "itthinkasia"
      description: "ithinkasia (now Ink Animation) is a social enterprise that trains Cambodians in animation and employees them to work on international films. This is the first studio in Cambodia to expand the animation sector to include international television and films. I was leading business development and brand engagement, including all internal and external communications."
    - category: asia
      image: PIN-logo.png
      imageDescription: ""
      title: "PIN"
      description: "PIN is a global humanitarian and development aid organization. As a content consultant I wrote, designed and produced a WASH training manual for use in project areas throughout Cambodia."
    - category: usa
      image: emerson-college.jpg
      imageDescription: ""
      title: "Emerson College"
      description: "Conducted user research for the Health Communication department in Emerson College to inform a health study regarding consumption of sugary beverages and how industry marketing effects consumer behaviors."
    - category: usa
      image: Trader-joes.png
      imageDescription: ""
      title: "Trader Joe's"
      description: "Trader Joe's is a national grocery franchise in the US, as a consumer advisor, I informed and guided consumers in healthy food options."

testimonials:
  - testimonial: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
    name: "Pablo Martín"
    company: "Political Watch"

hireMe:
  message: "Ready to cut through the noise and drive up your impact?"
  email: mariebcusick@gmail.com
  emailSubject: "Contact from web"
  cta: "Let's talk"
---


<!-- Home start -->

<section id="home" class="home-banner module-image js-height-full">

  {% include nav.html %}

  <div class="intro">

    <h1>{{ site.title }}</h1>
    <h3>{{ site.description }}</h3>
    <div class="slinks">
      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}" class="wow fadeInUp" data-wow-delay=".1s"><i class="fab fa-twitter fa-2x"></i></a>
      {% endif %}
      {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="wow fadeInUp" data-wow-delay=".3s"><i class="fab fa-linkedin fa-2x"></i></a>
      {% endif %}
      {% if site.instagram_username %}
      <a href="https://www.instagram.com/{{ site.instagram }}" class="wow fadeInUp" data-wow-delay=".5s"><i class="fab fa-instagram fa-2x"></i></a>
      {% endif %}
      {% if site.facebook_username %}
      <a href="https://www.facebook.com/{{ site.facebook_username }}" class="wow fadeInUp"><i class="fab fa-facebook fa-2x"></i></a>
      {% endif %}
      {% if site.googleplus_username %}
      <a href="https://plus.google.com/{{ site.googleplus_username }}" class="wow fadeInUp" data-wow-delay=".2s"><i class="fab fa-google-plus fa-2x"></i></a>
      {% endif %}
      {% if site.pinterest_username %}
      <a href="http://www.pinterest.com/{{ site.pinterest_username }}" class="wow fadeInUp" data-wow-delay=".4s"><i class="fab fa-pinterest fa-2x"></i></a>
      {% endif %}
    </div>

  </div>

  <div class="mouse-icon">
    <div class="wheel"></div>
  </div>

</section>

<!-- Home end -->

<!-- About start -->

<section id="me" class="module">

  <div class="container">

    <div class="row position-relative margin-0">

      <div class="col-xs-12 col-md-5 side-image">
        <div class="side-image-wrapper">
          <img src="{{site.baseurl}}/assets/images/about.jpg" alt="side-image">
        </div>
      </div>

      <div class="col-xs-12 col-md-7 side-image-text">

        <div class="row">

          <div class="col-sm-12">

            <div class="module-header wow fadeInUp">
              <h2 class="module-title">Hi, I'm Marie!</h2>
              <div class="module-line"></div>
            </div>

          </div>

        </div><!-- .row -->

        <div class="row">

          <div class="col-md-12">

            <div class="fadeInUp">

              {% for line in page.bio %}
                <p>{{line}}</p>
              {% endfor %}

            </div>

          </div>

        </div><!-- .row -->

      </div><!-- col-xs-12 -->

    </div><!-- .row -->

  </div><!-- .container -->

</section>

<!-- About end -->

<!-- Services start -->

<section id="superpowers" class="module module-gray">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Superpowers</h2>
      <div class="module-line"></div>
    </div>

    <div class="row">

      {% for service in page.services %}
      <div class="col-md-6 col-lg-4">
        <div class="iconbox wow fadeInUp">
          <div class="iconbox-icon">
            <i class="fas fa-{{service.icon}}"></i>
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">{{service.title}}</h3>
            <div class="iconbox-desc">
              {{service.description}}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div><!-- .row -->
  </div><!-- .container -->
</section>

<!-- Services end -->

<!-- Portfolio start -->

<section id="works" class="module">
  <div class="container">
    <div class="row">

      <div class="module-header wow fadeInUp">
        <h2 class="module-title">Cool stuff I've been working on</h2>
        <div class="module-line"></div>
      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter start-->

    <div class="row">

      <div class="col-sm-12">

        <ul id="filter" class=" wow fadeInUp">
          {% for category in page.work.categories %}
          <li class="active" data-group="{{category}}">{{category|upper}}</li>
          {% endfor %}
        </ul>

      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter end -->

    <ul class="list-items-container">

      {% for item in page.work.items %}
      <li class="list-item" data-groups="all {{item.category}}">
          <figure>
            <img src="{{site.baseurl}}/assets/images/{{item.image}}" alt="{{item.imageDescription}}">
            <figcaption>
              <a href="{{site.baseurl}}/assets/images/{{item.image}}" class="simple-ajax-popup"></a>
              <div class="caption-inner">
                <h3 class="portfolio-item-title">{{item.title}}</h3>
                <div class="portfolio-item-desc">{{item.description}}</div>
              </div>
            </figcaption>
          </figure>
        </li>
      {% endfor %}


    </ul><!-- .projects-container -->

  </div><!-- .contaier -->

</section>

<!-- Portfolio end -->

<!-- Testimonial start -->

<div id="testimonial" class="module module-gray text-center">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Testimonials</h2>
      <div class="module-line"></div>
    </div>

    <div class="row">

      <div class="col-md-8 offset-md-2 wow fadeInUp">

        <div class="module-header wow fadeInUp">
          <div class="module-icon"><i class="fas fa-quote-left"></i></div>
        </div>

        <div class="testimonials owl-carousel wow fadeInUp">
          {% for testimonial in page.testimonials %}
            <div class="single-testimonials">
              <p>{{ testimonial.testimonial }}</p>
              <span>{{ testimonial.name }}, {{ testimonial.company }}</span>
            </div>
          {% endfor %}
        </div>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</div>

<!-- Testimonial end -->

<!-- Blog start -->

<section id="blog" class="module blog">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Blog</h2>
      <div class="module-line"></div>
    </div>

    <div class="row">

      <div class="col-md-8 offset-md-2 text-center">
        <span class="coming-soon">Coming soon...</span>
      </div>

      <!--
      {% for post in site.posts limit:3 %}
      <div class="col-md-4">
        <a href="{{site.baseurl}}{{post.url}}" class="blogList wow fadeInUp">
          <div class="blogList-img">
            {% if post.banner_image %}
            <img src="{{ "/assets/images/" | append: post.banner_preview | prepend: site.baseurl }}" alt="Blog Desc">
            {% endif %}
            {% if post.category %}
            <span>{{post.category}}</span>
            {% endif %}
          </div>
          <div class="blogList-desc">
            <h3>{{post.title}}</h3>
            <div>{{post.description}}</div>
          </div>
        </a>
      </div>
      {% endfor %}
      -->

      <!--
      <div class="col-md-12">
        <a class="blog-viewMore" href="{{site.baseurl}}/blog.html">VIEW MORE</a>
      </div>
      -->

    </div><!-- .row -->
  </div><!-- .container -->
</section>

<!-- Blog end -->

<!-- Hire start-->

<div id="contact" class="module module-gray text-center">

  <div class="module-header wow fadeInUp">
    <h2 class="module-title">{{ page.hireMe.message }}</h2>
    <div class="module-line"></div>
  </div>

  <a class="hireMe-btn" href="mailto:{{ page.hireMe.email }}?subject={{ page.hireMe.emailSubject }}" target="_blank">{{page.hireMe.cta}}</a>

</div>

<!-- Hire end -->

<!-- Contact start -->

<!--
<section id="contact" class="module">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Contact</h2>
      <div class="module-line"></div>
    </div>


    <div class="row">

      <div class="col-md-6 offset-md-3">

        <form id="contact-form" action="#">
          <div class="ajax-hidden">
            <div class="form-group wow fadeInUp">
              <label class="sr-only" for="c_name">Name</label>
              <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name" required>
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
              <label class="sr-only" for="c_email">Email address</label>
              <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail" required>
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
              <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message" required></textarea>
            </div>

            <button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s">Send Message
            </button>
          </div>
          <div class="ajax-response"></div>
        </form>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>
-->

<!-- Contact end -->
