---
layout: default

bio:
  - I am a skilled strategic communicator, content creator, storyteller and professional nudger, passionate about behavior change. I work with change-makers and impact-driven organizations to tell your unique stories that enable you to scale your impact.
  - I do this by creating meaningful multi-media content and impactful behavior change communications strategies that resonate with your target audiences and that boost your user engagement, increase your organization visibility and position you even more as a thought leader.
  - My purpose is to help you connect the dots, identify trends, set mindful health agendas and better communicate your goals to influence the behavior change that's needed.

services:
  - icon: bullseye
    title: "Strategic Communications"
    description: "Storytelling, Visual design, Creative content/messaging, Copywriting & editing (including web copy)."
  - icon: hand-holding-heart
    title: "Creative communications"
    description: "Storytelling, Visual design, Creative content/messaging, Copywriting & editing (including web copy)."
  - icon: user
    title: "User research"
    description: "Audience mapping, Trend spotting, Empathic & observational research, Behavior change audits."
  - icon: star
    title: "Advocacy"
    description: "Project design, Communication & innovation strategy, Human-centered design, Campaign communications."
  - icon: cogs
    title: "Project Oversight"
    description: "Project design, Communication & innovation strategy, Human-centered design, Campaign communications."
  - icon: lightbulb
    title: "Strategic Leadership"
    description: "Project design, Communication & innovation strategy, Human-centered design, Campaign communications."

work:
  categories: [all, europe/uk, asia, usa]
  items:
    - category: europe/uk
      image: UNICEF.png
      imageDescription: "UNICEF"
      title: "UNICEF CGN"
      description: "Advising on content direction of various communications and marketing materials for a Dutch based “soil to soul” health brand."
    - category: europe/uk
      image: OnThink.png
      imageDescription: "On Think tanks"
      title: "On Think Tanks"
      description: "Advising on content direction of various communications and marketing materials for a Dutch based “soil to soul” health brand."
    - category: europe/uk
      image: Metabolic.png
      imageDescription: "Metabolic"
      title: "Metabolic"
      description: "Provided communications and marketing advice on strategies and social projects for a behavior change agency based in Cambodia. "
    - category: europe/uk
      image: Stronger.png
      imageDescription: "Stronger Foundations"
      title: "Stronger Foundations"
      description: "Provided communications and marketing advice on strategies and social projects for a behavior change agency based in Cambodia. "
    - category: europe/uk
      image: fairphone-featured.jpg
      imageDescription: ""
      title: "Fairphone"
      description: "Creating on-demand copy for a range of content driven pieces to help with product positioning and raising consumer following for a sustainable and fair smartphone company in the Netherlands."
    - category: europe/uk
      image: Laws-of-Nature-logo.png
      imageDescription: "Laws of nature"
      title: "Laws of nature"
      description: "Advising on content direction of various communications and marketing materials for a Dutch based “soil to soul” health brand."
    - category: europe/uk
      image: seventeen triggers.png
      imageDescription: "17 Triggers"
      title: "17 triggers"
      description: "Provided communications and marketing advice on strategies and social projects for a behavior change agency based in Cambodia. "
    - category: europe/uk
      image: Plasticsoup.png
      imageDescription: ""
      title: "Plastic Soup Foundation"
      description: "Streamlined website content to increase digital engagement as well as advised on various communications activities for a Dutch foundation that focuses on reducing ocean plastics waste."
    - category: europe/uk
      image: Greener-beans.jpg
      imageDescription: ""
      title: "Greener beans"
      description: "Advised on communication strategy and roll out plan for an sustainable grocery shopping platform in the UK."
    - category: asia
      image: savethechildren.png
      imageDescription: ""
      title: "Save the Children"
      description: "Spearheaded social and behavior change communications (SBCC) and lead behavior change initiatives for a local nutrition project in Cambodia."
    - category: asia
      image: Smart-food.png
      imageDescription: ""
      title: "Smart Food"
      description: "Producing engaging content to increase visibility and food sector engagement for a smart food initiative in India led by ICRISAT."
    - category: usa
      image: Trader-joes.png
      imageDescription: ""
      title: "Trader Joe's"
      description: "As a consumer and experience advisor for Trader Joe's, a national grocery franchise in the US, I informed and guided consumers in healthy food options and eating habits."
    - category: asia
      image: ithinkasia.jpg
      imageDescription: ""
      title: "itthinkasia"
      description: "Spearheaded business development activities and led on brand engagement and communications strategy for an impact-driven Asia-based animation studio."
    - category: asia
      image: PIN-logo.png
      imageDescription: ""
      title: "PIN"
      description: "Designed and produced relevant training materials for use in a WASH (water, sanitation and hygiene) project for a social NGO in Cambodia."
    - category: usa
      image: EmersonCollege.png
      imageDescription: ""
      title: "Emerson College"
      description: "Conducted user research for the Health Communication department in Emerson College to inform a health study regarding consumption of sugary beverages and the industry marketing effects on consumer behavior."
    - category: europe/uk
      image: FindMino2.png
      imageDescription: "Finding Mino"
      title: "Find Mino"
      description: "Created targeted communications and content pieces to build digital brand presence and increase followers globally for an educational platform for youth in the US."


testimonials:
  - testimonial: "Marie is a delight to work with. Her enthusiasm and passion flows through everything she takes on. With a heart for humanity and nature, and a desire to create meaningful change, she goes about her work with an optimistic pragmatism that gets the job done."
    name: "Leanne Addy"
    company: "Laws of Nature"
  - testimonial: "Marie helped us think through the right approach to position us as a career exploration platform for young adults. Her open mind and excellent sense for current themes and trends has been instrumental to set the right launch strategy."
    name: "Rogier Rijnja"
    company: "Co-Founder, Find Mino"
  - testimonial: "Marie is amazing at stepping into the shoes of her clients. Her curiosity, understanding and empathy translates into the creation of authentic and inspiring content. Her Texan enthusiasm captures the attention of people and ensures a memorable project experience each time! Equally her knowledge and commitment to enabling a more sustainable and equitable future adds a very relevant and transformative layer to her work."
    name: "Hayley Bagnall"
    company: "Hucklebe"


hireMe:
  message: "Ready to cut through the noise and drive up your impact?"
  email: mariebcusick@gmail.com
  emailSubject: "Contact from web"
  cta: "Let's talk"
---


<!-- Home start -->

<section id="home" class="home-banner module-image js-height-full">

  {% include nav.html %}

  <div class="intro">

    <h1>{{ site.title }}</h1>
    <h3>{{ site.description }}</h3>
    <div class="slinks">
      {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="wow fadeInUp" data-wow-delay=".3s"><i class="fab fa-linkedin fa-2x"></i></a>
      {% endif %}

    </div>

  </div>

  <div class="mouse-icon">
    <div class="wheel"></div>
  </div>

</section>

<!-- Home end -->

<!-- About start -->

<section id="me" class="module">

  <div class="container">

    <div class="row position-relative margin-0">

      <div class="col-xs-12 col-md-5 side-image">
        <div class="side-image-wrapper">
          <img src="{{site.baseurl}}/assets/images/about.jpg" alt="side-image">
        </div>
      </div>

      <div class="col-xs-12 col-md-7 side-image-text">

        <div class="row">

          <div class="col-sm-12">

            <div class="module-header wow fadeInUp">
              <h2 class="module-title">Hi, I'm Marie!</h2>
              <div class="module-line"></div>
            </div>

          </div>

        </div><!-- .row -->

        <div class="row">

          <div class="col-md-12">

            <div class="fadeInUp">

              {% for line in page.bio %}
                <p>{{line}}</p>
              {% endfor %}

            </div>

          </div>

        </div><!-- .row -->

      </div><!-- col-xs-12 -->

    </div><!-- .row -->

  </div><!-- .container -->

</section>

<!-- About end -->

<!-- Services start -->

<section id="superpowers" class="module module-gray">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Superpowers</h2>
      <div class="module-line"></div>
    </div>

    <div class="row">

      {% for service in page.services %}
      <div class="col-md-6 col-lg-4">
        <div class="iconbox wow fadeInUp">
          <div class="iconbox-icon">
            <i class="fas fa-{{service.icon}}"></i>
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">{{service.title}}</h3>
            <div class="iconbox-desc">
              {{service.description}}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div><!-- .row -->
  </div><!-- .container -->
</section>

<!-- Services end -->

<!-- Portfolio start -->

<section id="works" class="module">
  <div class="container">
    <div class="row">

      <div class="module-header wow fadeInUp">
        <h2 class="module-title">Some examples of my work</h2>
        <div class="module-line"></div>
      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter start-->

    <div class="row">

      <div class="col-sm-12">

        <ul id="filter" class=" wow fadeInUp">
          {% for category in page.work.categories %}
          <li class="active" data-group="{{category}}">{{category|upper}}</li>
          {% endfor %}
        </ul>

      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter end -->

    <ul class="list-items-container">

      {% for item in page.work.items %}
      <li class="list-item" data-groups="all {{item.category}}">
          <figure>
            <img src="{{site.baseurl}}/assets/images/{{item.image}}" alt="{{item.imageDescription}}">
            <figcaption>
              <a href="{{site.baseurl}}/assets/images/{{item.image}}" class="simple-ajax-popup"></a>
              <div class="caption-inner">
                <h3 class="portfolio-item-title">{{item.title}}</h3>
                <div class="portfolio-item-desc">{{item.description}}</div>
              </div>
            </figcaption>
          </figure>
        </li>
      {% endfor %}


    </ul><!-- .projects-container -->

  </div><!-- .contaier -->

</section>

<!-- Portfolio end -->

<!-- Testimonial start -->

<div id="testimonial" class="module module-gray text-center">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Some nice things that my clients say about me</h2>
      <div class="module-line"></div>
    </div>

    <div class="row">

      <div class="col-md-8 offset-md-2 wow fadeInUp">

        <div class="module-header wow fadeInUp">
          <div class="module-icon"><i class="fas fa-quote-left"></i></div>
        </div>

        <div class="testimonials owl-carousel wow fadeInUp">
          {% for testimonial in page.testimonials %}
            <div class="single-testimonials">
              <p>{{ testimonial.testimonial }}</p>
              <span>{{ testimonial.name }}, {{ testimonial.company }}</span>
            </div>
          {% endfor %}
        </div>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</div>

<!-- Testimonial end -->

<!-- Hire start-->

<div id="contact" class="module module-gray text-center">

  <div class="module-header wow fadeInUp">
    <h2 class="module-title">{{ page.hireMe.message }}</h2>
    <div class="module-line"></div>
  </div>

  <a class="hireMe-btn" href="mailto:{{ page.hireMe.email }}?subject={{ page.hireMe.emailSubject }}" target="_blank">{{page.hireMe.cta}}</a>

</div>

<!-- Hire end -->

<!-- Contact start -->

<!--
<section id="contact" class="module">
  <div class="container">

    <div class="module-header wow fadeInUp">
      <h2 class="module-title">Drop me a line</h2>
      <div class="module-line"></div>
    </div>


    <div class="row">

      <div class="col-md-6 offset-md-3">

        <form id="contact-form" action="#">
          <div class="ajax-hidden">
            <div class="form-group wow fadeInUp">
              <label class="sr-only" for="c_name">Name</label>
              <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name" required>
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
              <label class="sr-only" for="c_email">Email address</label>
              <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail" required>
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
              <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message" required></textarea>
            </div>

            <button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s">Send Message
            </button>
          </div>
          <div class="ajax-response"></div>
        </form>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>
-->

<!-- Contact end -->
